<h1>Answer below</h1>

<button (click)="toggleOnOff()">Display Details</button>

<p *ngIf="!isOn">Lorem Ipsum.  'Secret Password = tuna'</p>

<h2>Button click log</h2>

<ul>
    <li *ngFor="let logDetail of logClicks; let logIndex = index"
        [ngStyle]="{backgroundColor: getBackgroundColor(logIndex)}"
        [ngClass]="getLogClass(logIndex)">

        <div>
            <app-log-viewer-detail  [logDetail]="logDetail" [logIndex]="logIndex"></app-log-viewer-detail>
        </div>
    </li>
</ul>